/* home first banner style */

#home_first_banner {
    margin: 5vh auto;
    width: 94%;
    height: 60vh;
    background-image: url("../../../images/firstSection/video-visuel-large.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@media screen and (max-width: 470px) {
    #home_first_banner {
        height: 30vh;
        background-attachment: scroll;
    }
}