/* About Header Style */

#about_header {
    width: 100%;
    height: 50px;
    background-color: $white;
    font-family: "Gilroy";
    section {
        display: flex;
        .about_header_firstname {
            cursor: pointer;
            justify-content: start;
            p {
                display: inline-block;
                margin-left: 4vw;
                span {
                    position: relative;
                    bottom: 8px;
                }
                #about_header_about {
                    position: static;
                    font-family: $libre;
                }
            }
        }
        .about_lang {
            cursor: pointer;
            color: $grey;
            margin-top: auto;
            margin-bottom: auto;
            margin-left: auto;
            margin-right: 4vw;
            font-size: 12px;
            span {
                color: $black;
                margin-left: 0.5vw;
            }
        }
    }
}