#section_loading {
    background-color: $red;
    color: $backgroundcolor;
    width: 100%;
    height: 100vh;
    text-align: center;
    article {
        padding-top: 45vh;
        a {
            color: $white;
            font-family: $libre;
        }
    }
}