/* import variable (colors) */
@import "./variables.scss";

/* import other scss documents */
@import "./pages/home/home.scss";
@import "./pages/about/about.scss";
@import "./misc/loading.scss";

/* import google font */

/* "font-family: 'Libre Baskerville', serif;" */
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400i&display=swap');
/* import personalized font */
@font-face {
    font-family: "Gilroy";
    src: url("../fonts/Gilroy-ExtraBold.otf");
}
@font-face {
    font-family: "Gilroy Light";
    src: url("../fonts/Gilroy-Light.otf");
}


/* Global Project Change */
body {
    font-family: "Gilroy Light";
    margin: 0;
}