/* Colors */
$white : #ffffff;
$black : #1c1b20;
$bluetitle : #414a6b;
$grey : #bcbcbc;
$textgrey : #686868;
$red : #ff5851;
$backgroundcolor : #f8f8f8;
$yellow : #f3c130;

/* font */
$girlroybold : "Gilroy";
$girlroylight : "Gilroy Light";
$libre : "Libre Baskerville", serif;
